*{margin: 0;}
*:focus{
	outline-width: 0px;
}

@media screen and (min-resolution: 300dpi) {
	#uiContainer{
		font-size: 2em;
	}
}

body{
	--bc: #272727;
	--pc: #ededed;
	--ec: #ff3030;
	--gc: #30da30;
	--at: 1;
	--br: 4px;
	--tf: cubic-bezier(0, 1, 0.5, 1);

	background-color: var(--bc);
	color: var(--pc);
	font-family: "Arial";
	overflow: hidden;
	transform: scale(.8);
}
*::selection{
	background: var(--pc);
	color: var(--bc);
}
.noselect{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
input::placeholder{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.simplebar-scrollbar::before{
	background: var(--pc);
}
