#loginContainer{
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-right: 100vw solid var(--pc);
	background-color: var(--bc);
}

@keyframes hideLogin{
	0%{
		transform: translateX(0vw);
		border-right-width: 100vw;
	}
	40%{
		border-right-width: 100vw;
	}
	60%{
		transform: translateX(-100vw);
	}
	80%{
		border-right-width: 0vw;
	}
	100%{
		border-right-width: 0vw;
		transform: translateX(-100vw);

	}
}
#loginContainer.hidden{
	animation: calc(1.5s * var(--at)) 1 normal hideLogin;
	animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	border-right-width: 0vw;
	transform: translateX(-100vw);
}
#login{
	--mw: 500px;
	max-width: var(--mw);
	width: 100vw;
	padding: 20px;
	font-size: 2em;
	text-align: center;
}

#login>*:not(h1){
	margin: 10px 0px;
}
