#menuContainer {
	--mh: calc(100vh - 100px);
	--mw: 600px;

	position: fixed;
	z-index: -100;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menuContainer.shown{
	z-index: 0;
	background-color: rgba(150,150,150,.5);
	transition: background-color calc(.2s * var(--at)) linear;
}

@keyframes showMenuHeight {
	0%{
		height: 0%;
	}
	50%{
		height: var(--mh);
	}
	100%{
		height: var(--mh);
	}
}
@keyframes showMenuWidth {
	0%{
		width: 0%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: var(--mw);
	}
}

#menu{
	width: 0;
	height: 0;
	background-color: var(--bc);
	overflow: hidden;
	border-radius: var(--br);
}

#menuContainer.shown #menu{
	animation:
		showMenuHeight calc(1s * var(--at)) cubic-bezier(0.215, 0.61, 0.355, 1),
		showMenuWidth calc(1s * var(--at)) cubic-bezier(0.2, 0, 0, 1);
	border-left: 6px solid var(--pc);
	height: var(--mh);
	width: var(--mw);
}

#menu .scrollContent {
	height: calc(100% - 2em - 16px);
	width: 100%;
}
#menu .formContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;

}
#menu .formContainer h2 {
	margin: 15px;
	margin-left: 0;
	padding: 5px;
	padding-left: 20px;
	align-self: flex-start;
	background-color: var(--pc);
	color: var(--bc);
}
#menu form{
	display: inline-block;
}

fieldset[disabled] .button{
	display: none;
}

#decks .deck td:first-child{
	text-align: center;
}
