#handContent>.wrapper{
	display: grid;
	grid-template-columns: repeat(calc(var(--pw) / 10), 1fr);
	grid-auto-rows: auto;
	grid-gap: var(--padding);
	padding: var(--padding);
	--pc: #efefef;
}
@media screen and (max-aspect-ratio: 4/3){
	#handContent{
		overflow-y: hidden;
		overflow-x: scroll;
	}
	#handContent>.wrapper{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: stretch;
		height: 100%;
	}
	#handContent>.wrapper>div{
		
	}
	.card{
		max-width: 23vw;
		text-align: left;
	}
}
.card{
	border: 1px solid var(--pc);
	padding: 5px;
	box-sizing: border-box;
	border-radius: 10px;
	border-left-width: 5px;
	text-align: left;
	background-color: var(--bc);
	transition: transform calc(1.5s * var(--at)) var(--tf);
	/* max-width: calc(var(--panel-width) / 2); */

	/* background-color: var(--pc); */
	/* color: var(--bc); */
}
#hand .card:hover{
	transform: matrix(1.05,0.00,0.00,1.05,-3.5,0);

}