#uiContainer{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	--panel-width: 20em;
}
#uiWrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template: "a b c" 1fr / 1fr var(--panel-width) var(--panel-width);
}
@media screen and (max-aspect-ratio: 4/3){

	#uiWrapper{
		width: calc(100vw + var(--panel-width) + 1px);
		grid-template:	"a c" 1fr
		"b c" var(--panel-width) / 1fr var(--panel-width)
	}
}
#uiWrapper>div{
	outline: 1px solid white;
}

#board{
	flex: 1;
	grid-area: a;
}
#hand{
	grid-area: b;
}
#users{
	grid-area: c;
}
.title{
	background-color: var(--pc);
	color: var(--bc);
	border-bottom: 1px solid var(--bc);
}
.title>h2{
	padding: 10px;
	display: block;
	user-select: none;
}
.nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.navLogos{
	height: calc(1.5em + 20px);
}

.navLogos>svg{
	height: 100%;
}

.navLogos>svg{
	height: 100%;
}
