#uiContainer{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	--pw: 20;
	--panel-width: calc(var(--pw) * 1em);
	background-color: var(--pc);
}
#uiWrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template: "a b c" 1fr / 1fr var(--panel-width) var(--panel-width);
	grid-gap: 1px;
}
@media screen and (max-aspect-ratio: 4/3){

	#uiWrapper{
		width: calc(100vw + var(--panel-width) + 1px);
		grid-template:	"a c" 1fr
						"b c" var(--panel-width) / 1fr var(--panel-width);
	}
	#users.shown{
		transform: translateX(calc((var(--panel-width) + 1px) * -1));
	}
	#uiWrapper>div>.content {
		overflow-x: scroll;

	}

}
#uiWrapper>div{
	background-color: var(--bc);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#uiWrapper>div>.content {
	overflow-y: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#uiWrapper>div>.content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#uiWrapper>div>.content{
	flex-grow: 1;
	min-height: 0;
}

#board{
	flex: 1;
	grid-area: a;
}
#hand{
	grid-area: b;
}
#users{
	grid-area: c;
	transition: transform calc(.5s * var(--at)) var(--tf);
}

.title{
	background-color: var(--pc);
	color: var(--bc);
	border-bottom: 1px solid var(--bc);
}
.title>h2{
	padding: 10px;
	display: block;
	user-select: none;
}
.nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.navLogos{
	height: calc(1.5em + 20px);
}

.navLogos>svg{
	height: 100%;
}

.navLogos>svg{
	height: 100%;
}
